@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

body {
  font-family: JetBrains Mono;
}

header {
  display: flex;
}

header hgroup {
  display: flex;
  align-content: center;
  align-items: center;
}

header hgroup a img {
  height: 25px;
  width: 25px;
}

a {
  text-decoration: none;
}

header hgroup a {
  color: #272727;
}

header hgroup a h1 {
  margin-left: 10px;
  text-decoration: none;
  color: #272727;
}
