<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <title>Estoque</title>
</head>

<body class="m-3">
  <div class="container">
    <header class="d-flex mb-3">
      <hgroup class="me-auto">
        <a href="/admin/" aria-label="goBackLink">
          <img src="/imagens/back.png" alt="back" aria-label="goBack" />
        </a>

        <a href="/admin/estoque/">
          <h1>Estoque</h1>
        </a>
      </hgroup>

      <a href="/admin/estoque/registro" class="btn btn-success me-2 align-self-center">
        <img th:src="@{/imagens/addIcon.png}" alt="addIcon" style="height: 24px;"> Produto
      </a>

      <aside class="align-self-center">
        <div class="input-group">
          <button id="btnId" class="btn btn-secondary" type="button">ID</button>
          <button id="btnNome" class="btn btn-outline-secondary" type="button">Nome</button>
          <button id="btnCategoria" class="btn btn-outline-secondary" type="button">Categoria</button>

          <input type="text" class="form-control" id="buscaCampo" name="buscaCampo" placeholder="Insira aqui a busca">

          <a id="rota" href="/admin/estoque/id/" class="btn btn-primary" type="button">Buscar</a>
        </div>
      </aside>

    </header>

    <main>
      <table class="table table-striped table-hover table-responsive align-middle mt-2">
        <thead>
          <tr>
            <th scope="col" class="col-1">id</th>
            <th scope="col" class="col-2">Produto</th>
            <th scope="col" class="col-2">Categoria</th>
            <th scope="col" class="col-1">Qtde</th>
            <th scope="col" class="col-2">Preço</th>
            <th scope="col" class="col-2">Com desconto</th>
            <th scope="col" class="col-2">Ações</th>
          </tr>
        </thead>

        <tbody class="table-group-divider">
          <tr th:each="produto: ${produtos}">
            <td th:text="${produto.id}"></td>
            <td th:text="${produto.nome}"></td>
            <td th:text="${produto.categoria}"></td>
            <td th:text="${produto.qtdeEstoque}"></td>
            <td th:text="${'R$ '+produto.preco}"></td>
            <td th:if="${produto.precoDesconto == -1}">Sem desconto</td>
            <td th:unless="${produto.precoDesconto == -1}" th:text="${'R$ '+produto.precoDesconto}"></td>
            <td>
              <a th:href="${'/admin/estoque/atualizar/'+produto.id}" class="btn btn-secondary" title="Editar">
                <img src="/imagens/editIcon.png" alt="editar" style="width: 24px; height: 24px" />
              </a>
              <a th:href="${'/admin/estoque/avariados/registro/'+produto.id}" class="btn btn-danger" title="Avariar">
                <img src="/imagens/damagedIcon.png" alt="avariar" style="width: 24px; height: 24px" />
              </a>
            </td>
          </tr>
        </tbody>

      </table>
    </main>
  </div>
</body>

<script>
  var rotaBase = "/admin/estoque/id/";

  const inputBusca = document.querySelector("#buscaCampo");
  const botaoRota = document.querySelector("#rota");

  const btnId = document.querySelector("#btnId");
  const btnNome = document.querySelector("#btnNome");
  const btnCategoria = document.querySelector("#btnCategoria");

  btnId.addEventListener("click", () => {

    btnId.setAttribute("class", "btn btn-secondary");
    btnNome.setAttribute("class", "btn btn-outline-secondary");
    btnCategoria.setAttribute("class", "btn btn-outline-secondary");

    rotaBase = "/admin/estoque/id/";
    var texto = inputBusca.value;
    botaoRota.setAttribute("href", rotaBase + texto);
  });

  btnNome.addEventListener("click", () => {

    btnNome.setAttribute("class", "btn btn-secondary");
    btnId.setAttribute("class", "btn btn-outline-secondary");
    btnCategoria.setAttribute("class", "btn btn-outline-secondary");

    rotaBase = "/admin/estoque/nome/";
    var texto = inputBusca.value;
    texto = texto.replace("/", "&");
    botaoRota.setAttribute("href", rotaBase + texto);
  });

  btnCategoria.addEventListener("click", () => {

    btnCategoria.setAttribute("class", "btn btn-secondary");
    btnId.setAttribute("class", "btn btn-outline-secondary");
    btnNome.setAttribute("class", "btn btn-outline-secondary");

    rotaBase = "/admin/estoque/categoria/";
    var texto = inputBusca.value;
    texto = texto.replace("/", "&");
    botaoRota.setAttribute("href", rotaBase + texto);
  });

  inputBusca.addEventListener("input", () => {
    var texto = inputBusca.value;
    texto = texto.replace("/", "&");
    botaoRota.setAttribute("href", rotaBase + texto);
  });

  botaoRota.addEventListener("click", () => {
    inputBusca.setAttribute("value", "");
  });
</script>

</html>